*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    max-width: 100%;
    width: 290px;
    height: 450px;
    margin-top: 30%;
    border-radius: 8px 0 0 8px;
    justify-self: end;
    

}

body{
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

p{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    padding: 0 2rem 0.5rem 2rem;
    line-height: 1.3rem;



}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;

}

.product__content{
    display: grid;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 8px 8px 0;
    width: 290px;
    height: 450px;
    margin-top: 30%;
    
    
}

#product{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 4px;
    padding: 2rem 2rem 0 2rem;

}

#perfume__name{
    font-family: "Fraunces",sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 2rem;


}

.current__price{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    padding: 1rem 0 1rem 2rem;

}

.original__price{
    text-decoration: line-through;
    position: relative;
    text-align: left;

}


.btn_add{

    
    justify-self: center;
    font-family: "Montserrat", sans-serif ;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 15px;
    width: 80%;
    margin-bottom: 1.5rem;
    cursor: pointer;


}

.icon{
    background: url(../images/icon-cart.svg) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}


.attribution {
    margin-top: 1rem;
    font-size: 11px; 
    text-align: center;  
}

    .attribution a { 
        color: hsl(228, 45%, 44%); 
}

.container{
    display: grid;
}